<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../user-login/user-login.html">
<link rel="import" href="../create-user/create-user.html">
<link rel="import" href="../modify-user/modify-user.html">
<link rel="import" href="../modify-user/modify-user.html">
<link rel="import" href="../global-position/global-position.html">
<link rel="import" href="../operation-manager/operation-manager.html">
<link rel="import" href="../page-credits/page-credits.html">
<link rel="import" href="../page-not-found/page-not-found.html">


<dom-module id="test-iron-pages">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <b>Choose action - </b><input type="text" value="{{componentName::input}}"></input>

    <!-- segun el valor de la propiedad selected: componentName es la que va a controlar lo que se muestra -->
    <iron-pages selected="[[componentName]]" attr-for-selected="component-name">
      <!-- Tenemos que especificar el atributo que hemos definido en la linea de arriba
      para que entienda sobre cuales aplica, por eso ponemos component-name-->
      <div component-name="login">
        <user-login></user-login>
      </div>
      <div component-name="createuser">
        <create-user></create-user>
      </div>
      <div component-name="updateuser">
        <modify-user></modify-user>
      </div>
      <div component-name="globalposition">
        <global-position></global-position>
      </div>
      <div component-name="operate">
        <operation-manager></operation-manager>
      </div>
      <div component-name="credits">
        <page-credits></page-credits>
      </div>
      <div component-name="*">
        <page-not-found></page-not-found>
      </div>

    </iron-pages>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class TronPages extends Polymer.Element {
      static get is() { return 'test-iron-pages'; }
      static get properties() {
        return {
          componentName: {
            type: String
          }
        };
      }
    }

    window.customElements.define(TronPages.is, TronPages);
  </script>
</dom-module>
