<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="create-user">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <br/><br/><h2>NEW USER REGISTRATION</h2><br/>
    <h3>Access credentials</h3>
    <b>Email</b>
    <input placeholder="xxxx@something.com" type="email" value="{{email::input}}"></input>
    <span hidden$="{{!undefinedemail}}"><font color="red">Mandatory field!</font></span><br/>
    <b>Password</b>
    <input type="password" value="{{password::input}}"></input>
    <span hidden$="{{!undefinedpassword}}"><font color="red">Mandatory field!</font></span><br/>
    <b>Repeat password</b>
    <input type="password" value="{{checkpassword::input}}"></input>
    <span hidden$="{{!badpassword}}"><font color="red">Password is not a match!</font></span><br/><br/>

    <h3>User information</h3>
    <b>Name</b><input type="text" value="{{name::input}}"></input>
    <b>Surname</b><input type="text" value="{{surname::input}}"></input><br/>
    <b>Address</b><input type="text" value="{{address::input}}"></input>
    <b>Cellphone</b><input type="text" value="{{cellphone::input}}"></input><br/><br/>

    <h3>Location information</h3>
    <b>Time Zone</b>
    <form>
      <input type="radio" name="timezoneR" value="Europe/London" checked> Europe/London</br>
      <input type="radio" name="timezoneR" value="Europe/Moscow"> Europe/Moscow</br>
      <input type="radio" name="timezoneR" value="Asia/Shanghai"> Asia/Shanghai</br>
    </form><br/>
    <b>Preferred Languaje</b>
    <form>
      <input type="radio" name="languajeR" value="{{ENG::input}}" checked> English</br>
      <input type="radio" name="languajeR" value="{{ESP::input}}"> Spanish</br>
      <input type="radio" name="languajeR" value="{{RU::input}}"> Russian</br>
    </form><br/><br/>

    <button on-click="createUser">Create User</button>
    <button on-click="clearFormData">Clear fields</button><br/><br/>

    <span hidden$="{{!createSuccessfull}}">
      <font color="green"><b>User successfully created.</b></font>
    </span>

    <span hidden$="{{!incorrectCreate}}">
      <font color="red"><b>Couldn't create user.</b></font>
    </span>

    <iron-ajax
      id="postCreateUser"
      url="http://blockbank-blockbank.a3c1.starter-us-west-1.openshiftapps.com/blockbank/v1/user"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CreateUser extends Polymer.Element {
      static get is() { return 'create-user'; }
      static get properties() {
        return {
                  userid: {
                    type: Number
                  },
                  name: {
                    type: String
                  },
                  surname: {
                    type: String
                  },
                  address: {
                    type: String
                  },
                  cellphone: {
                    type: Number
                  },
                  email: {
                    type: String
                  },
                  password: {
                    type: String
                  },
                  timezone: {
                    type: String
                  },
                  languaje: {
                    type: String
                  },
                  connected: {
                    type: Boolean
                  },
                  active: {
                    type: Boolean
                  },
                  createSuccessfull: {
                    type: Boolean,
                    value: false
                  },
                  incorrectCreate: {
                    type: Boolean,
                    value: false
                  },
                  undefinedemail: {
                    type: Boolean,
                    value: false
                  },
                  undefinedpassword: {
                    type: Boolean,
                    value: false
                  },
                  badpassword: {
                    type: Boolean,
                    value: false
                  }
        };
      }

      manageAJAXResponse(data) {
        console.log("showData");
        console.log(data.detail.response);

        this.createSuccessfull = true;
        this.incorrectCreate = false;

        /*
        //TODO REDIRECCIONAR hacemos una redireccion a los datos del usuario para que quede bien enlazado
        //este no esta funcionando, es posible que sea porque el id no se llama asi en el response, debuguear
        window.location = "user/" + this.userid;
        */
      }

      showError(error) {
        console.log("Something went wrong while trying to create user");
        console.log(error);

        this.createSuccessfull = false;
        this.incorrectCreate = true;
      }

      createUser() {
        console.log("Create user button pressed");

        this.undefinedemail = false;
        this.undefinedpassword = false;
        this.badpassword = false;

        if (this.email === undefined)  {
          this.undefinedemail = true;
        } else {
          if (this.password === undefined) {
            this.undefinedpassword = true;
          } else if (this.password != this.checkpassword) {
            this.badpassword = true;
          } else {

            var selectedTimezone = "Europe/London";
            var timezoneRadio = document.getElementsByName('timezoneR');
            for (var i = 0, length = timezoneRadio.length; i < length; i++) {
              if (timezoneRadio[i].checked) {
                selectedTimezone = timezoneRadio[i].value;
                break;
              }
            }

            var selectedLanguaje = "English";
            var languajeRadio = document.getElementsByName('languajeR');
            for (var i = 0, length = languajeRadio.length; i < length; i++) {
              if (languajeRadio[i].checked) {
                selectedLanguaje = languajeRadio[i].value;
                break;
              }
            }

            var userData = {
              "email" : this.email,
              "password" : this.password,
              "name" : this.name,
              "surname" : this.surname,
              "address" : this.address,
              "cellphone" : this.cellphone,
              "timezone" : selectedTimezone,
              "languaje" : selectedLanguaje
            };

            this.$.postCreateUser.body = JSON.stringify(userData);
            this.$.postCreateUser.generateRequest();
            console.log("Create user request send");
          }
        }
      }

      clearFormData() {
        this.email = "";
        this.password = "";
        this.checkpassword = "";
        this.name = "";
        this.surname = "";
        this.address = "";
        this.cellphone = "";

        this.createSuccessfull = false;
        this.incorrectCreate = false;
      }

    }


    window.customElements.define(CreateUser.is, CreateUser);
  </script>
</dom-module>
