<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="operation-manager">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div></br></br>
    <h2>OPERATE WITH CRYPTOCURRENCIES</h2>
    <h6>Ethical cryptocurrencies: 1 - BTC Bitcoin | 2 - ETH Ethereum | 3 - XRP Ripple | 4 - DOGE Dogecoin | 5 - PUT Putincoin </h6></br>
    <input placeholder="User ID" type="ID" value="{{userid::input}}"></input>
    <input placeholder="Cryptocurrency" type="number" value="{{cryptoid::input}}" min="1" max="5"></input>
    <input placeholder="Amount" type="number" value="{{amount::input}}" min="0" max="1000"></input>
    <span hidden$="{{!missingData}}"><font color="red">Mandatory fields!</font></span><br/>

    <button on-click="operate">Operate</button>
    <button on-click="clearFormData">Clear Data</button></br></br>

    <span hidden$="{{!errorCryptocurrency}}">
      <font color="red">User doesn't exists or doesn't have any cryptocurrency contracted.</font>
    </span>
    <span hidden$="{{!operationKO}}">
      <font color="red"><b>Error. Couldn't perform operation.</b></font>
    </span>
    <span hidden$="{{!operationOK}}">
      <font color="green"><b>Operation successfully processed.</b></font>
    </span>
    </div>

    <div></br></br>
    <h2>USER OPERATIONS</h2>
    <input placeholder="User ID" type="ID" value="{{useroperationsid::input}}"></input>
    <span hidden$="{{!undefinedDataOperations}}"><font color="red">Mandatory field!</font></span><br/>

    <button on-click="getOperationsByUser">Check Operations</button>
    <button on-click="clearOperationsFormData">Clear Data</button></br></br>

    <span hidden$="{{!errorOperations}}">
      <font color="red">User doesn't exists or doesn't have any operations.</font>
    </span>

    <span hidden$="{{!foundOperations}}">
      </br>
      <h6>USER OPERATIONS REGISTRY</h6>
      <template is="dom-repeat" items="{{operations}}">
        <h7><b>Date</b> -> {{item.timestamp}} </h7>
        <h7><b>Type</b> -> {{item.type}} </h7>
        <h7><b>Cryptocurrency</b> -> {{item.cryptocurrencyid}} </h7>
        <h7><b>Amount</b> -> {{item.amount}} </h7>
        </br>
      </template>
    </span>
    </div>

    <iron-ajax
      id="postOperationUpdate"
      url="http://blockbank-blockbank.a3c1.starter-us-west-1.openshiftapps.com/blockbank/v1/operation/{{userid}}"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXOperationUpdateResponse"
      on-error="showErrorOperationUpdate"
    >

    <iron-ajax
      id="postAccountUpdate"
      url="http://blockbank-blockbank.a3c1.starter-us-west-1.openshiftapps.com/blockbank/v1/accountusercryptocurrency/{{userid}}/{{cryptoid}}/{{amount}}"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXAccountUpdateResponse"
      on-error="showErrorAccountUpdate"
    >

    <iron-ajax
      id="getUserOperations"
      url="http://blockbank-blockbank.a3c1.starter-us-west-1.openshiftapps.com/blockbank/v1/operationsuser/{{useroperationsid}}"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponseOperations"
      on-error="showErrorOperations"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class OperationManager extends Polymer.Element {
      static get is() { return 'operation-manager'; }
      static get properties() {
        return {
                  userid: {
                    type: Number
                  },
                  cryptoid: {
                    type: Number
                  },
                  amount: {
                    type: Number
                  },
                  missingData: {
                    type: Boolean,
                    value: false
                  },
                  errorCryptocurrency: {
                    type: Boolean,
                    value: false
                  },
                  operationKO: {
                    type: Boolean,
                    value: false
                  },
                  operationOK: {
                    type: Boolean,
                    value: false
                  },
                  useroperationsid: {
                    type: Number
                  },
                  undefinedDataOperations: {
                    type: Boolean,
                    value: false
                  },
                  errorOperations: {
                    type: Boolean,
                    value: false
                  },
                  foundOperations: {
                    type: Boolean,
                    value: false
                  },
                  operations: {
                    type: Array
                  }
        };
      }

      manageAJAXOperationUpdateResponse(data) {
        console.log("showData");
        console.log(data.detail.response);

        this.missingData = false;
        this.errorCryptocurrency = false;
        this.operationKO = false;
        this.operationOK = true;
      }

      showErrorOperationUpdate(error) {
        console.log("Error while trying to update operations");
        console.log(error);

        this.missingData = false;
        this.errorCryptocurrency = false;
        this.operationKO = true;
        this.operationOK = false;
      }

      manageAJAXAccountUpdateResponse(data) {
        console.log("showData");
        console.log(data.detail.response);

        this.missingData = false;
        this.errorCryptocurrency = false;
        this.operationKO = false;
        this.operationOK = true;
      }

      showErrorAccountUpdate(error) {
        console.log("Error while trying to update account");
        console.log(error);

        this.missingData = false;
        this.errorCryptocurrency = false;
        this.operationKO = true;
        this.operationOK = false;
      }

      manageAJAXResponseOperations(data) {
        console.log("showData");
        console.log(data.detail.response);

        this.operations = data.detail.response;
        this.foundOperations = true;
        this.errorOperations = false;
      }

      showErrorOperations(error) {
        console.log("Error while trying to get user operations");
        console.log(error);
        this.foundOperations = false;
        this.errorOperations = true;
      }

      operate() {
        console.log("Operating with cryptocurrency");

        if (this.userid === undefined || this.cryptoid === undefined || this.amount === undefined) {
          this.missingData = true;
        } else {
          this.missingData = false;

          // TODO comentamos la llamada de actualizar cuenta puesto que no esta funcionando
          //this.$.postAccountUpdate.generateRequest();
          //console.log("Account update request send");

          var operationType = "BUY";
          if(this.amount.charAt(0) == '-') {
            operationType = "SELL";
          }

          var operateData = {
            "cryptocurrencyid" : this.cryptoid,
            "type" : operationType,
            "amount" : this.amount
          };

          this.$.postOperationUpdate.body = JSON.stringify(operateData);
          this.$.postOperationUpdate.generateRequest();
          console.log("Operation update request send");
        }
      }

      clearFormData() {
        this.userid = "";
        this.cryptoid = "";
        this.amount = "";

        this.missingData = false;
        this.errorCryptocurrency = false;
        this.operationKO = false;
        this.operationOK = false;
      }

      getOperationsByUser() {
        console.log("Searching user operations");

        if (this.useroperationsid === undefined) {
          this.undefinedDataOperations = true;
        } else {
          this.undefinedDataOperations = false;

          this.$.getUserOperations.generateRequest();
          console.log("Check user operations request send");
        }
      }

      clearOperationsFormData() {
        this.useroperationsid = "";

        this.foundOperations = false;
        this.errorOperations = false;
      }

    }

    window.customElements.define(OperationManager.is, OperationManager);
  </script>
</dom-module>
