<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="page-credits">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <br/><br/><img src="https://s3-eu-west-1.amazonaws.com/blockbankstaticresources/blockbank_big_logo.jpg" alt="BlockBank Logo">

    <div>
    <br/><br/><br/>
    <h3>CREDITS</h3><br/>
    <h5>DESIGN</h5><b>e022886</b><br/><br/>
    <h5>CODIFICATION</h5><b>e022886</b><br/><br/>
    <h5>INSPIRATION AGENDA</h5><b><a href="https://www.youtube.com/watch?v=0lBjcaMokvo">www.youtube.com</a></b><br/><br/><br/><br/>

    <span hidden$="{{!showExternal}}">
    <h3>EXTERNAL REFERENCES</h3><br/>
      <p><img src="https://s3-eu-west-1.amazonaws.com/blockbankstaticresources/steve_ocheng.jpg" alt="Steve O." style="float:left;width:200px;height:200px;">
        <b>Steve Ocheng</b>, CEO <b>@ real BlockBank</b>.</p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
      <p><img src="https://s3-eu-west-1.amazonaws.com/blockbankstaticresources/alexander_mutombo.jpg" alt="Alex M." style="float:left;width:200px;height:200px;">
        <b>Alexander Mutombo</b>, Engineering Trainee <b>@ real BlockBank</b>.</p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </span>

    <span hidden$="{{!showInternal}}">
      <h3>TECHU! & CAMPUS</h3><br/>
      <p><img src="./resources/ct.jpg" alt="Carlos" style="float:left;width:150px;height:150px;">
        <b>Carlos T.</b>, Deep Voice <b>@ Techu!</b></p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </span>

    <span hidden$="{{!showEnough}}">
      <h3>Das wars! Schalten sie ruhig den Computer aus.</h3><br/>
    </span>
    </div><br/><br/><br/>

    <span hidden$="{{showEnough}}">
      <button on-click="showMore">Show me more!</button>
    </span>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageCredits extends Polymer.Element {

      ready () {
        super.ready();
        this.showExternal = false;
        this.showInternal = false;
        this.showEnough = false;
      }

      static get is() { return 'page-credits'; }
      static get properties() {
        return {
          interestCounter: {
            type: Number,
            value: 0
          },
          showExternal: {
            type: Boolean,
            value: false
          },
          showInternal: {
            type: Boolean,
            value: false
          },
          showEnough: {
            type: Boolean,
            value: false
          }
        };
      }

      showMore() {
        this.interestCounter++;

        if(this.interestCounter > 5) {
          this.showExternal = true;
        }
        if(this.interestCounter > 20) {
          this.showExternal = false;
          this.showInternal = true;
        }
        if(this.interestCounter > 50) {
          this.showExternal = false;
          this.showInternal = false;
          this.showEnough = true;
        }
      }
    }

    window.customElements.define(PageCredits.is, PageCredits);
  </script>
</dom-module>
