<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="page-not-found">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <br/><br/><br/><div>
    <h2>REQUESTED PAGE NOT FOUND</h2><br/>
    <iframe width="560" height="315"
      src="https://www.youtube.com/embed/TSXXi2kvl_0"
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div><br/><br/>

    <button on-click="goHome">Home</button>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PageNotFound extends Polymer.Element {
      static get is() { return 'page-not-found'; }
      static get properties() {
        return {
        };
      }

      goHome() {
        // TODO goto HOME PAGE
      }
    }

    window.customElements.define(PageNotFound.is, PageNotFound);
  </script>
</dom-module>
