<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="modify-user">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div><br/><br/>
    <h2>USER DATA UPDATE</h2><br/>

    <h3>User information</h3>

    <input placeholder="User ID" type="ID" value="{{userid::input}}"></input>
    <span hidden$="{{!updateDataUndefined}}"><font color="red">Mandatory field!</font></span><br/>

    <b>Name</b><input type="text" value="{{name::input}}"></input>
    <b>Surname</b><input type="text" value="{{surname::input}}"></input><br/>
    <b>Address</b><input type="text" value="{{address::input}}"></input>
    <b>Cellphone</b><input type="text" value="{{cellphone::input}}"></input><br/><br/><br/>

    <h3>Location information</h3>
    <b>Time Zone</b>
    <form>
      <input type="radio" name="timezoneR" value="Europe/London" checked> Europe/London</br>
      <input type="radio" name="timezoneR" value="Europe/Moscow"> Europe/Moscow</br>
      <input type="radio" name="timezoneR" value="Asia/Shanghai"> Asia/Shanghai</br>
    </form><br/>
    <b>Preferred Languaje</b>
    <form>
      <input type="radio" name="languajeR" value="{{ENG::input}}" checked> English</br>
      <input type="radio" name="languajeR" value="{{ESP::input}}"> Spanish</br>
      <input type="radio" name="languajeR" value="{{RU::input}}"> Russian</br>
    </form><br/><br/>

    <button on-click="updateUser">Update User</button>
    <button on-click="clearFormData">Clear fields</button><br/><br/>

    <span hidden$="{{!updateSuccessfull}}">
      <font color="green"><b>User data successfully updated.</b></font>
    </span>

    <span hidden$="{{!incorrectUpdate}}">
      <font color="red"><b>Couldn't update user data. Check if user exists.</b></font>
    </span>

    <br/><br/><br/><h3>Session management</h3>
    <input placeholder="User Email" type="email" value="{{email::input}}"></input>
    <span hidden$="{{!undefinedDataLogut}}"><font color="red">Mandatory field!</font></span><br/><br/>

    <button on-click="logoutUser">Logout</button>
    <button on-click="clearlogoutData">Clear Data</button></br></br>

    <span hidden$="{{!logoutSuccessfull}}">
      <font color="green"><b>Succesfully logged out selected user.</b></font>
    </span>

    <span hidden$="{{!incorrectLogout}}">
      <font color="red"><b>Couldn't logout user. Was he logged in previously?</b></font>
    </span>

    </div>

    <iron-ajax
      id="postUpdateUser"
      url="http://blockbank-blockbank.a3c1.starter-us-west-1.openshiftapps.com/blockbank/v1/user/{{userid}}"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXUpdateResponse"
      on-error="showErrorUpdate"
    >

    <iron-ajax
      id="doLogout"
      url="http://blockbank-blockbank.a3c1.starter-us-west-1.openshiftapps.com/blockbank/v1/logout"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXLogoutResponse"
      on-error="showErrorLogout"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ModifyUser extends Polymer.Element {
      static get is() { return 'modify-user'; }
      static get properties() {
        return {
                  userid: {
                    type: Number
                  },
                  email: {
                    type: String
                  },
                  name: {
                    type: String
                  },
                  surname: {
                    type: String
                  },
                  address: {
                    type: String
                  },
                  cellphone: {
                    type: Number
                  },
                  timezone: {
                    type: String
                  },
                  languaje: {
                    type: String
                  },
                  connected: {
                    type: Boolean
                  },
                  active: {
                    type: Boolean
                  },
                  updateDataUndefined: {
                    type: Boolean,
                    value: false
                  },
                  updateSuccessfull: {
                    type: Boolean,
                    value: false
                  },
                  incorrectUpdate: {
                    type: Boolean,
                    value: false
                  },
                  undefinedDataLogut: {
                    type: Boolean,
                    value: false
                  },
                  logoutSuccessfull: {
                    type: Boolean,
                    value: false
                  },
                  incorrectLogout: {
                    type: Boolean,
                    value: false
                  }
        };
      }

      manageAJAXUpdateResponse(data) {
        console.log("showData");
        console.log(data.detail.response);

        this.updateSuccessfull = true;
        this.incorrectUpdate = false;
      }

      showErrorUpdate(error) {
        console.log("Something went wrong while trying to update user data");
        console.log(error);

        this.updateSuccessfull = false;
        this.incorrectUpdate = true;
      }

      manageAJAXLogoutResponse(data) {
        console.log("showData");
        console.log(data.detail.response);

        this.logoutSuccessfull = true;
        this.incorrectLogout = false;
      }

      showErrorLogout(error) {
        console.log("Something went wrong while trying to logout user");
        console.log(error);

        this.logoutSuccessfull = false;
        this.incorrectLogout = true;
      }

      updateUser() {
        console.log("Update user button pressed");

        if (this.userid === undefined) {
          this.updateDataUndefined = true;
        } else {
          this.updateDataUndefined = false;

          var selectedTimezone = "Europe/London";
          var timezoneRadio = document.getElementsByName('timezoneR');
          for (var i = 0, length = timezoneRadio.length; i < length; i++) {
            if (timezoneRadio[i].checked) {
              selectedTimezone = timezoneRadio[i].value;
              break;
            }
          }

          var selectedLanguaje = "English";
          var languajeRadio = document.getElementsByName('languajeR');
          for (var i = 0, length = languajeRadio.length; i < length; i++) {
            if (languajeRadio[i].checked) {
              selectedLanguaje = languajeRadio[i].value;
              break;
            }
          }

          var updatedName;
          (this.name === undefined) ? updatedName = "" : updatedName = this.name;
          var updatedSurname;
          (this.surname === undefined) ? updatedSurname = "" : updatedSurname = this.surname;
          var updatedAddress;
          (this.address === undefined) ? updatedAddress = "" : updatedAddress = this.address;
          var updatedCellphone;
          (this.cellphone === undefined) ? updatedCellphone = "" : updatedCellphone = this.cellphone;

          var updatedUserData = {
            "name" : updatedName,
            "surname" : updatedSurname,
            "address" : updatedAddress,
            "cellphone" : updatedCellphone,
            "timezone" : selectedTimezone,
            "languaje" : selectedLanguaje,
            // TODO: cambiar codificacion para no machacar email y password
            "email"   : "",
            "password" : ""
          };

          this.$.postUpdateUser.body = JSON.stringify(updatedUserData);
          this.$.postUpdateUser.generateRequest();
          console.log("Update user request send");
        }
      }

      clearFormData() {
        this.userid = "";
        this.name = "";
        this.surname = "";
        this.address = "";
        this.cellphone = "";

        this.updateDataUndefined = false;
        this.updateSuccessfull = false;
        this.incorrectUpdate = false;
      }

      logoutUser() {
        console.log("Logout button pressed");

        if (this.email === undefined) {
          this.undefinedDataLogut = true;
        }
        else {
          this.undefinedDataLogut = false;

          var logoutData = {
            "email" : this.email
          };

          this.$.doLogout.body = JSON.stringify(logoutData);
          this.$.doLogout.generateRequest();
          console.log("Logout request send");

        }
      }

      clearlogoutData() {
        this.email = "";

        this.logoutSuccessfull = false;
        this.incorrectLogout = false;
      }

    }


    window.customElements.define(ModifyUser.is, ModifyUser);
  </script>
</dom-module>
