<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="user-login">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <br/><br/>
    <span hidden$="{{!incorrectLogin}}"><font color="red">Incorrect login, check credentials.</font></span><br/>
    <input placeholder="User Email" type="email" value="{{email::input}}"></input>
    <input placeholder="User Password" type="password" value="{{password::input}}"></input>
    <span hidden$="{{!undefinedData}}"><font color="red">Mandatory fields!</font></span>
    <div></div><br/>
    <button on-click="loginUser">Login</button>
    <button on-click="clearFormData">Clear fields</button><br/>

    <br/><br/>
    <span hidden$="{{!loginSuccessfull}}">
      <font color="green"><b>User successfully logged in.</b></font>
    </span>

    <div></div><br/>
    <div></div><br/>
    <div></div><br/>
    <b>New to BlockBank?</b> <button on-click="goCreateUser">Create user</button>

    <!-- TODO esta linea crea un boton que llama a otro componente polymer con un parametro-->
    <!--<button class="btn btn-link">-->
    <!--<a href="/user/{{id}}/accounts">Ver cuentas</a>-->
    <!--</button>-->

    <iron-ajax
      id="doLogin"
      url="http://blockbank-blockbank.a3c1.starter-us-west-1.openshiftapps.com/blockbank/v1/login"
      method="POST"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class UserLogin extends Polymer.Element {
      static get is() { return 'user-login'; }
      static get properties() {
        return {
                  userid: {
                    type: Number
                  },
                  email: {
                    type: String
                  },
                  password: {
                    type: String
                  },
                  timezone: {
                    type: String
                  },
                  undefinedData: {
                    type: Boolean,
                    value: false
                  },
                  incorrectLogin: {
                    type: Boolean,
                    value: false
                  },
                  loginSuccessfull: {
                    type: Boolean,
                    value: false
                  }
        };
      }

      manageAJAXResponse(data) {
        console.log("showData");
        console.log(data.detail.response);

        this.loginSuccessfull = true;

        /*
        <!-- TODO REDIRECCIONAR hacemos una redireccion a los datos del usuario para que quede bien enlazado -->
        <!-- este no esta funcionando, es posible que sea porque el id no se llama asi en el response, debuguear -->
        this.userid = data.detail.response.userid;
        window.location = "user/" + this.userid;
        */
      }

      showError(error) {
        this.incorrectLogin = true;
        console.log("Something went wrong while trying to login user");
        console.log(error);
      }

      loginUser() {
        console.log("Login button pressed");

        this.incorrectLogin = false;

        if (this.email === undefined || this.password === undefined)  {
          this.undefinedData = true;
        }
        else {
          this.undefinedData = false;

          var loginData = {
            "email" : this.email,
            "password" : this.password
          };

          this.$.doLogin.body = JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Login request send");

        }
      }

      clearFormData() {
        this.email = "";
        this.password = "";

        this.loginSuccessfull = false;
      }

    }


    window.customElements.define(UserLogin.is, UserLogin);
  </script>
</dom-module>
