<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="global-position">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div></br></br>
    <h2>USER GLOBAL POSITION</h2>
    <input placeholder="User ID" type="ID" value="{{globaluserid::input}}"></input>
    <span hidden$="{{!undefinedDataGlobalPosition}}"><font color="red">Mandatory field!</font></span><br/>

    <button on-click="getAccountsByUser">Check Position</button>
    <button on-click="clearGlobalFormData">Clear Data</button></br></br>

    <span hidden$="{{!errorCryptocurrencies}}">
      <font color="red">User doesn't exists or doesn't have any cryptocurrency contracted.</font>
    </span>

    <span hidden$="{{!foundCryptocurrencies}}">
      </br>
      <h6>AVAILABLE CRYPTOCURRENCIES</h6>
      <template is="dom-repeat" items="{{accounts}}">
        <h7>Cryptocurrency - {{item.cryptocurrencyid}} </h7>
        <h7>Address - {{item.address}} </h7>
        <b><h7>Total - {{item.balance}} </h7></b>
        </br>
      </template>
    </span>
    </div>

    <div></br></br></br></br></br>
    <h2>CRYPTOCURRENCY BALANCE</h2>
    <h6>Ethical cryptocurrencies: 1 - BTC Bitcoin | 2 - ETH Ethereum | 3 - XRP Ripple | 4 - DOGE Dogecoin | 5 - PUT Putincoin </h6></br>
    <input placeholder="User ID" type="ID" value="{{cryptouserid::input}}"></input>
    <input placeholder="Cryptocurrency" type="number" value="{{cryptoid::input}}" min="1" max="5"></input>
    <span hidden$="{{!undefinedDataCryptoPosition}}"><font color="red">Mandatory fields!</font></span><br/>

    <button on-click="getAccountsByUserByCrypto">Check Position</button>
    <button on-click="clearCryptoFormData">Clear Data</button></br></br>

    <span hidden$="{{!errorCryptocurrency}}">
      <font color="red">User doesn't exists or doesn't have that cryptocurrency contracted.</font>
    </span>

    <span hidden$="{{!foundCryptocurrency}}">Cryptocurrency: <b>[[crypto]]</b></span></br>
    <span hidden$="{{!foundCryptocurrency}}">Address: [[address]]</span></br>
    <span hidden$="{{!foundCryptocurrency}}">Total: <b>[[total]]</b></span></br>
    <span hidden$="{{!foundCryptocurrency}}">EUR Total: <b>[[totaleur]] €</b></span></br>
    </div>


    <iron-ajax
      id="getUserCryptocurrencies"
      url="http://blockbank-blockbank.a3c1.starter-us-west-1.openshiftapps.com/blockbank/v1/accountsuser/{{globaluserid}}"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponseCryptocurrencies"
      on-error="showErrorCryptocurrencies"
    >

    <iron-ajax
      id="getUserCryptocurrency"
      url="http://blockbank-blockbank.a3c1.starter-us-west-1.openshiftapps.com/blockbank/v1/accountusercryptocurrency/{{cryptouserid}}/{{cryptoid}}"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXResponseCryptocurrency"
      on-error="showErrorCryptocurrency"
    >

    <iron-ajax
      id="getexternalBTCValue"
      url="https://api.coinmarketcap.com/v2/ticker/1/?convert=EUR"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXBTCResponse"
      on-error="showErrorBTC"
    >

    <iron-ajax
      id="getexternalETHValue"
      url="https://api.coinmarketcap.com/v2/ticker/1027/?convert=EUR"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXETHResponse"
      on-error="showErrorETH"
    >

    <iron-ajax
      id="getexternalXRPValue"
      url="https://api.coinmarketcap.com/v2/ticker/52/?convert=EUR"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXXRPResponse"
      on-error="showErrorXRP"
    >

    <iron-ajax
      id="getexternalDOGEValue"
      url="https://api.coinmarketcap.com/v2/ticker/74/?convert=EUR"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXDOGEResponse"
      on-error="showErrorDOGE"
    >

    <iron-ajax
      id="getexternalPUTValue"
      url="https://api.coinmarketcap.com/v2/ticker/1299/?convert=EUR"
      method="GET"
      content-type="application/json"
      handle-as="json"
      on-response="manageAJAXPUTResponse"
      on-error="showErrorPUT"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GlobalPosition extends Polymer.Element {

      ready () {
        super.ready();
        this.loadExternalData();
      }

      static get is() { return 'global-position'; }
      static get properties() {
        return {
                  globaluserid: {
                    type: Number
                  },
                  cryptouserid: {
                    type: Number
                  },
                  cryptoid: {
                    type: Number
                  },
                  undefinedDataGlobalPosition: {
                    type: Boolean,
                    value: false
                  },
                  undefinedDataCryptoPosition: {
                    type: Boolean,
                    value: false
                  },
                  foundCryptocurrencies: {
                    type: Boolean,
                    value: false
                  },
                  foundCryptocurrency: {
                    type: Boolean,
                    value: false
                  },
                  accounts: {
                    type: Array
                  },
                  errorCryptocurrencies: {
                    type: Boolean,
                    value: false
                  },
                  errorCryptocurrency: {
                    type: Boolean,
                    value: false
                  },
                  crypto: {
                    type: String
                  },
                  btcUpdatedValue: {
                    type: Number
                  },
                  ethUpdatedValue: {
                    type: Number
                  },
                  xrpUpdatedValue: {
                    type: Number
                  },
                  dogeUpdatedValue: {
                    type: Number
                  },
                  putUpdatedValue: {
                    type: Number
                  },
                  address: {
                    type: String
                  },
                  total: {
                    type: Number
                  },
                  totaleur: {
                    type: Number
                  }
        };
      }

      manageAJAXResponseCryptocurrencies(data) {
        console.log("showData");
        console.log(data.detail.response);

        this.accounts = data.detail.response;
        this.foundCryptocurrencies = true;
        this.errorCryptocurrencies = false;
      }

      showErrorCryptocurrencies(error) {
        console.log("Error while trying to get user global position");
        console.log(error);
        this.foundCryptocurrencies = false;
        this.errorCryptocurrencies = true;
      }

      manageAJAXResponseCryptocurrency(data) {
        console.log("showData");
        console.log(data.detail.response);

        this.address = data.detail.response[0].address;
        this.total = data.detail.response[0].balance;

        switch (data.detail.response[0].cryptocurrencyid) {
            case 1:
                this.crypto = "BTC";
                this.totaleur = this.total * this.btcUpdatedValue;
                break;
            case 2:
                this.crypto = "ETH";
                this.totaleur = this.total * this.ethUpdatedValue;
                break;
            case 3:
                this.crypto = "XRP";
                this.totaleur = this.total * this.xrpUpdatedValue
                break;
            case 4:
                this.crypto = "DOGE";
                this.totaleur = this.total * this.dogeUpdatedValue
                break;
            case 5:
                this.crypto = "PUT";
                this.totaleur = this.total * this.putUpdatedValue
                break;
        }

        this.totaleur = this.totaleur.toFixed(2);

        this.foundCryptocurrency = true;
        this.errorCryptocurrency = false;
      }

      showErrorCryptocurrency(error) {
        console.log("Error while trying to get user cryptocurrency position");
        console.log(error);
        this.foundCryptocurrency = false;
        this.errorCryptocurrency = true;

      }

      manageAJAXBTCResponse(data) {
        console.log("showExternalData");
        console.log(data.detail.response);

        this.btcUpdatedValue = data.detail.response.data.quotes.EUR.price;

        console.log("Gotten external BTC info correctly");
      }

      showErrorBTC(error) {
        console.log("Error while trying to get external BTC information");
        console.log(error);
      }

      manageAJAXETHResponse(data) {
        console.log("showExternalData");
        console.log(data.detail.response);

        this.ethUpdatedValue = data.detail.response.data.quotes.EUR.price;

        console.log("Gotten external ETH info correctly");
      }

      showErrorETH(error) {
        console.log("Error while trying to get external ETH information");
        console.log(error);
      }

      manageAJAXXRPResponse(data) {
        console.log("showExternalData");
        console.log(data.detail.response);

        this.xrpUpdatedValue = data.detail.response.data.quotes.EUR.price;

        console.log("Gotten external XRP info correctly");
      }

      showErrorXRP(error) {
        console.log("Error while trying to get external XRP information");
        console.log(error);
      }

      manageAJAXDOGEResponse(data) {
        console.log("showExternalData");
        console.log(data.detail.response);

        this.dogeUpdatedValue = data.detail.response.data.quotes.EUR.price;

        console.log("Gotten external DOGE info correctly");
      }

      showErrorDOGE(error) {
        console.log("Error while trying to get external DOGE information");
        console.log(error);
      }

      manageAJAXPUTResponse(data) {
        console.log("showExternalData");
        console.log(data.detail.response);

        this.putUpdatedValue = data.detail.response.data.quotes.EUR.price;

        console.log("Gotten external PUT info correctly");
      }

      showErrorPUT(error) {
        console.log("Error while trying to get external PUT information");
        console.log(error);
      }

      getAccountsByUser() {
        console.log("Searching user cryptocurrencies");

        if (this.globaluserid === undefined) {
          this.undefinedDataGlobalPosition = true;
        } else {
          this.undefinedDataGlobalPosition = false;

          this.$.getUserCryptocurrencies.generateRequest();
          console.log("Global position by user request send");
        }
      }

      getAccountsByUserByCrypto() {
        console.log("Searching user cryptocurrency");

        if (this.cryptouserid === undefined || this.cryptoid === undefined) {
          this.undefinedDataCryptoPosition = true;
        } else {
          this.undefinedDataCryptoPosition = false;

          this.$.getUserCryptocurrency.generateRequest();
          console.log("Position by user and cryptocurrency request send");
        }
      }

      clearGlobalFormData() {
        this.globaluserid = "";
        this.foundCryptocurrencies = false;
      }

      clearCryptoFormData() {
        this.cryptouserid = "";
        this.cryptoid = "";
        this.foundCryptocurrency = false;
      }

      loadExternalData() {
        console.log("Getting external info");

        this.$.getexternalBTCValue.generateRequest();
        this.$.getexternalETHValue.generateRequest();
        this.$.getexternalXRPValue.generateRequest();
        this.$.getexternalDOGEValue.generateRequest();
        this.$.getexternalPUTValue.generateRequest();

        console.log("External API cryptocurrency detail send");
      }

    }

    window.customElements.define(GlobalPosition.is, GlobalPosition);
  </script>
</dom-module>
